.chat-main__body--message
  .chat-main__body--message-user
    %p
      = message.user.name
  .chat-main__body--message-time
    %p
      = message.created_at
  .chat-main__body--message-content
    %p
      = message.body
      = image_tag message.image
