.notification

.chat-side
  .chat-side__user
  .chat-side__groups

.chat-main
  .chat-main__header
  .chat-main__body
    %h1 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    %h1 bbbbbbbbbbbbbbbbbbbbbbbbbbb
    %h1 cccccccccccccccccccccccccccccc
    %h1 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    %h1 bbbbbbbbbbbbbbbbbbbbbbbbbbb
    %h1 cccccccccccccccccccccccccccccc
  .chat-main__footer
