// ---notification

 .flash {
  height: 30px;
  width: 100vw;
  color: white;
  text-align: center;
  display: block;

  &__notice {
    background-color:#38aef0;
  }

  &__alert {
    background-color: red;
  }
}
